.header {
  &Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Info {
    padding: 10px 0;
    border-bottom: 1px solid grey;

    &__Location {
      gap: 15px;
    }

    &__WorkTime {
      gap: 10px;
    }
  }
  &Delivery {
    padding: 20px 0;
    p {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    p::before {
      content: url('../../assets/img/pizzalogo.png');
    }

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      color: white;
      background-color: #ff7010;
      border: 0px;
      border-radius: 4px;
    }
    button::before {
      content: url('../../assets/img/shoppingBag.png');
    }
  }
}
